body{
  font-family: 'Fira Code', monospace;
  color: #545e6c;
}
.card{
  background-color: #545e6c;
  color: #f5f5f5;
}
.container{
  color: black;
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 50px 50px 50px 50px;
  box-shadow: 0 0 10px #888888;
}